
.find{
   
    &__doctors{
       
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
      
        &::before{
            content: "";
           // background-image: url(/cudmc/logo_trans.png);
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            position: absolute;
            background-repeat: repeat-y;
            background-size: cover;
            height: 70%;
            width: 100%;
            opacity: 0.15;
            margin-top: 150px;
            margin-left: 10px;

        }
     

        button, .button {
         
            display: block;
            padding: 0.875rem 2.1875rem;
            background-image: none;
            background-color: transparent;
            border: 0;
            border-radius: 0px;
            cursor: pointer;
            color: $darkBlue;
            font-weight: 400;  
            font-size: $font-sm;  
            transition: opacity 300ms ease-in-out;
            width: 300px;
            margin: auto;
        
            &::before {
              content: "";
              //background-color: rgba(255, 255, 255, 0.25);
                background-color: rgba(66, 64, 64, 0.25);
              //background-color: transparent;
              opacity: 0;
              transition: opacity 250ms ease-in-out;
            }
            &:hover::before {
                opacity: 1;
                font-size: $font-med;
              }
        }
        
        text-align: center;
      
        @include breakpoint-up(large){
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        &::before{
            content: "";
            background-image: url(/cudmc/logo_trans.png);
            top: -140px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            position: absolute;
            background-repeat: repeat;
            height: 100%;
            width: 100%;
            background-size: 15%;
            opacity: 0.15;
        }   
        }

      

    }

    &__a{

        //border: solid 1px;

        p{
            line-height: 0px;
         }
         a{
            line-height: 2.3;
            margin-bottom: 2.25rem;
         }
        @include breakpoint-up(large){
            flex: 1;
        }
      
    }
    &__b{
        //border: solid 1px;
        @include breakpoint-up(large){
            flex: 1;
        }
        a{
            line-height: 2.3;
            margin-bottom: 2.25rem;
         }

    }
    &__c{
        //border: solid 1px;
        @include breakpoint-up(large){
            flex: 1;
        }   
        a{
            line-height: 2.3;
            margin-bottom: 2.25rem;
         }
    }

    &__d{
        //border: solid 1px;
        @include breakpoint-up(large){
            flex: 1;
        }   
        a{
            line-height: 2.3;
            margin-bottom: 2.25rem;
         }
    }
    &__modal{
       display: none;
        h3{
            margin-top: 2%;
        }
    
    &.openModal

    {   display: block;
        position: fixed;
        width: calc(100% - 30rem);
        top: 28%;
        left: 2.5%;
        transform: translateX(-50%, -50%);
        background: $white;
        padding: 1.625rem;
        border-radius: 5px;
        border: solid 1px;
        margin-left: 140px;

        #doctor_name{
           padding-top: 0px;
           background-color: $veryLightGray;
        }        
        // p {
        //   padding: 0.625rem;
        //   color: $darkBlue;
        //   text-align: center;
        //   opacity: 1;
        // }
    }
    table, th, td{
        
        width: 100%;
       // border: solid 1px;
        #modify{
            background-image: var(--img);
            width: 30%;
            height: 300px;
            background-size: cover;
        }
       
    }
     td{
         padding-left: 20px;
     }  
    }
    

}